
<body>
<div class="about-container">
    
          <img src="../../../assets/Images/Resto1.jpeg" alt="About Image" class="about-image">

    

  <h1>About <b style="color: red; font-size: 60px;">Us</b></h1>
  <p>
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to <strong style="color: red;">RUCHIRA</strong>, where taste meets tradition! <br>
   &nbsp;&nbsp; Explore our story, team, and delectable dishes that showcase our passion for exceptional dining experiences.
    <!-- Our mission is to serve you delicious, healthy, and authentic meals that bring joy to your dining experience. -->
  </p>
  <p>
    &nbsp;&nbsp; Whether you're craving traditional Indian flavors or modern culinary delights, our expert chefs prepare each <br>&nbsp;&nbsp;  dish with love and fresh ingredients.
  </p>
  <p>
    &nbsp;&nbsp; We believe that good food not only satisfies your hunger but also nourishes your soul. <br> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;Thank you for choosing <b style="color: rgb(255, 0, 0);">RUCHIRA!</b>
  </p>

   <h1 class="a">The  <b style="color: red;">Restaurant</b></h1>
    <div><img src="../../../assets/Images/Img1.jpg" alt="About Image" class="one"></div>
    
        <div><img src="../../../assets/Images/mathew-schwartz-GjzJFMnJZYg-unsplash.jpg" alt="About Image" class="onee"></div>
        <div><img src="../../../assets/Images/dishes_1.jpg" alt="About Image" class="oneleft"></div>
         <div><img src="../../../assets/Images/dishes_2.jpg" alt="About Image" class="oneright"></div>
         

</div>
    <h1 class="mission"><b style="color: white; text-decoration: underline 1px red;">Our</b> Mission</h1>
    <p class="mission-text">At RUCHIRA, our mission is simple — to bring people together through the joy of delicious food and warm hospitality. We believe that a great meal is more than just food on a plate — it's an experience that creates memories, connects people, and celebrates traditions. 
        <br>We are committed to serving fresh, high-quality dishes made with love and authentic ingredients. Our carefully crafted menu reflects our passion for taste, tradition, and innovation, offering something for everyone — from local favorites to global flavors. <br>
            Whether you're here for a quick bite, a family dinner, or a special occasion, we strive to make every visit delightful and unforgettable. <br><b style="margin-left: 400px;margin-top: 15px;color: rgb(237, 214, 8);"> "Your satisfaction is at the heart of everything we do."</b></p>
</body>

