
    <div  class="content-box">
    <img src="../../../assets/Images/cinematic-film-location-decor.jpg" alt="" id="a">
       <img src="../../../assets/Images/Foodimg.jpeg" alt="" id="b">
       <img src="../../../assets/Images/mathew-schwartz-GjzJFMnJZYg-unsplash.jpg" alt="" id="c">
       <!-- property binding -->
        <p [innerHTML]="message"></p>

        <!-- <button (click)="getStarted()">Get Started</button> -->

        <button type="button"  (click)="getStarted()">Book a Table</button> 

  </div>

  <!-- <h2>Two way data binding Example</h2>
 <input [(ngModel)]="userName" placeholder="Enter Your Name" >
 <button >Search</button>
<p>Hello,{{userName}}</p> -->

  



