
  

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <div class="position-relative">
            <img src="../../../assets/Images/MenuImg2.jpg" class="main-img" alt="Menu Image">
            <h1 class="main-title">Our Menu</h1>
    </div>

    <div class="container text-center mt-5">
        <h2>Explore Our Menu by Delicious Categories</h2>
        <p > Looking for something tasty? Check out our menu, grouped into categories to help you find your favorite food easily.
            <br>
            We made it simple! Choose what you like by browsing different food categories – from starters to desserts.
        </p>
        <div class="my-3">
          <i class="bi bi-arrow-down-circle-fill" style="font-size: 30px; color: #7c5e10;"></i>
        </div>
    </div>

    <div class="container mt-5">
      <div class="row text-center mb-5">
       <div class="col-md-6 mb-4">
        <a [routerLink]="['/vegbiryani']" class="d-block" tabindex="0" style="cursor:pointer;">
        <img src="../../../assets/Images/VegBiryani2.png" class="img-fluid" style="height: 300px;" alt="Veg Biryani">
        </a> 
         <h3 class="mt-2">Veg-Biryani</h3> 
        </div>

        <div class="col-md-6 mb-4">
        <a [routerLink]="['/vegstarter']" class="d-block" tabindex="0" style="cursor:pointer;">
        <img src="../../../assets/Images/VegStarter1.png" class="img-fluid" style="height: 300px;" alt="Veg Starter">
        </a>
        <h3 class="mt-2">Veg-Starter</h3>

        </div>  
      </div>
  
      <div class="row text-center mb-5">
        <div class="col-md-6 col-lg-6 mb-4">
        <img src="../../../assets/Images/Nen_Veg_Biryani.png" class="img-fluid" style="height: 300px;" alt="Non-Veg Biryani">
        <h3 class="mt-2">Non-Veg-Biryani</h3>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
        <img src="../../../assets/Images/Non-Veg-starter.jpg" class="img-fluid" style="height: 300px;" alt="Non-Veg Starter">
        <h3 class="mt-2">Non-Veg-Starter</h3>
        </div>
      </div>

      <div class="row text-center mb-5">
        <div class="col-md-6 col-lg-6 mb-4">
        <img src="../../../assets/Images/Dessert.jpg" class="img-fluid" style="height: 300px;" alt="Dessert">
        <h3 class="mt-2">Dessert & Snacks</h3>
        </div>
        <div class="col-md-6 icecream">
        <img src="../../../assets/Images/Icecream.png" class="img-fluid" style="height: 300px;" alt="Icecream">
        <h3 class="mt-2">Icecream</h3>
        </div>
      </div>


    </div>
  


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>





